h1:hover {
  color: white;
  background-color: blue;
}

#box {
  background-color: crimson;
  height: 150px;
  width: 150px;
}

#box:hover {
  height: 200px;
  width: 100px;
  background-color: blue;
}
/* 
section p:first-child{
    color: white;
    background-color: teal;
}

section p:last-child{
    color: white;
    background-color: purple;
}

section p:nth-child(6){
    color: white;
    background-color: red;
} */

/* #container1 p:nth-child(2),
#container1 p:nth-child(4),
#container1 p:nth-child(6),
#container1 p:nth-child(8) {
  color: white;
  background-color: rgb(65, 65, 4);
} */

/* #container1 p:nth-child(even) {
  color: white;
  background-color: rgb(65, 65, 4);
} */

/* 
#container1 p:nth-child(odd) {
  color: white;
  background-color: rgb(65, 65, 4);
} */

/* #container1 p:nth-child(3n-1) {
  color: white;
  background-color: rgb(65, 65, 4);
} */
/* 
#mainContainer :first-of-type{
    color: white;
    background-color: teal;
}

#mainContainer :last-of-type{
    color: white;
    background-color: red;
} */

/* #mainContainer :nth-of-type(2){
    color: white;
    background-color: blue;
} */

/* ? unvisited */
a:link {
  color: yellow;
}

/* ? visited */
a:visited {
  color: hotpink;
}

/* ? active */
a:active {
  color: goldenrod;
}

/* ! ====================================== */

/* input:checked{
  height: 150px;
  width: 150px;
} */

div{
  display: none;
}

input:checked+div{
  display: block;
}

/* ! Attribute Selectors */
/* img[alt]{
  height: 500px;
  width: 500px;
} */

img[alt="tiger"]{
  height: 500px;
  width: 500px;
}

input[name="userEmail"]{
  height: 100px;
  width: 350px;
}