.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.flex-item {
  flex: 1;
}

.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.border-2 {
  border: 2px solid;
}

.border-4 {
  border: 4px solid;
}

.border-2-red {
  border: 2px solid red;
}

.border-4-red {
  border: 4px solid red;
}

.border-2-blue {
  border: 2px solid blue;
}

.border-4-blue {
  border: 4px solid blue;
}
